.popup__close {
  background: transparent url(../../../images/close-icon.svg) center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  transition: opacity .5s ease;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 879px) {
  .popup__close {
  width: 20px;
  height: 20px;
  right: 0;
  }
}