@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__button-change-avatar/profile__button-change-avatar.css');
@import url('./blocks/profile/__button-icon/profile__button-icon.css');
@import url('./blocks/profile/__button-pic/profile__button-pic.css');
@import url('./blocks/profile/__button-pictures/profile__button-pictures.css');
@import url('./blocks/profile/__button/profile__button.css');
@import url('./blocks/profile/__description/profile__description.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__name-button/profile__name-button.css');
@import url('./blocks/profile/__name/profile__name.css');
@import url('./blocks/elements/elements.css');
@import url('./blocks/element/element.css');
@import url('./blocks/element/__delete/element__delete.css');
@import url('./blocks/element/__delete/_active/element__delete_active.css');
@import url('./blocks/element/__description/element__description.css');
@import url('./blocks/element/__like/element__like.css');
@import url('./blocks/element/__like/_active/element__like_active.css');
@import url('./blocks/element/__like/_numbers/element__like_numbers.css');
@import url('./blocks/element/__like/_container/element__like_container.css');
@import url('./blocks/element/__pictures/element__pictures.css');
@import url('./blocks/element/__title/element__title.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__title/footer__title.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__caption/popup__caption.css');
@import url('./blocks/popup/__close/popup__close.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container-avatar/popup__container-avatar.css');
@import url('./blocks/popup/__container-delete/popup__container-delete.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__container-img/popup__container-img.css');
@import url('./blocks/popup/__image/popup__image.css');
@import url('./blocks/popup/__input/popup__input.css');
@import url('./blocks/popup/__input/_type_error/popup__input_type_error.css');
@import url('./blocks/popup/__save/popup__save.css');
@import url('./blocks/popup/__save/_disabled/popup__save_disabled.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__error/_visible/popup__error_visible.css');
@import url('./blocks/popup/_type-img/popup_type-img.css');
@import url('./blocks/popup/_is-active/popup_is-active.css')